*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

.content-padding {
    padding-top: 50px;
    padding-bottom: 70px;
}

.row-space-1 {
    margin-right: -1px;
    margin-left: -1px;
}

.row-space-1 > [class|="col"] {
    padding-left: 1px;
    padding-right: 1px;
}

/*------------------------------------------------------------------
  	PRELOADER
------------------------------------------------------------------*/

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #ecf3f9;
    z-index: 9999;
}

#page-preloader .spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 45%;
    top: 40%;
    background: url('../img/earth-preloader.gif') no-repeat 50% 50%;
}


/*------------------------------------------------------------------
  	HEADER
------------------------------------------------------------------*/

/* Video Background */

.video-header{
    height: 100vh;
}

.video-wrap{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -9999;
}

.video-wrap video{
    min-width: 100%;
    min-height: 100%;
}

.video-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.2;
    z-index: -9998;
}

/* End Video Background */



/* Navbar */

.navbar{
    width: 100%;
    height: 95px;
    position: fixed;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
    transition: all 0.4s;
}

.header-content{
    width: 84%;
    margin: auto;
}

.logo-img{
    float: left;
    width: 146px;
    padding: 10px 0;
}

.logo-img-main {
    display: inline-block;
}

.logo-img-active {
    display: none;
}

.nav{
    float: right;
    padding: 25px 0;
}

.nav li{
    display: inline-block;
    padding: 0 20px;
    list-style-type: none;
}

.nav li a{
    text-decoration: none;
}

/* End Navbar */



/* Headline and Form */

.headline-form{
    position: absolute;
    width: 83%;
    top: 30%;
}

.form-control {
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    background: #fafafa;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding-left: 15px;
}

#error{
    display: none;
    color: #e54e46;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* End Headline and Form */



/*------------------------------------------------------------------
  	FOOTER
------------------------------------------------------------------*/

.footer {
    background: url(../img/background/footer.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.footer-seperator {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-list {
    margin-bottom: 0;
    list-style-type: none;
    padding: 0;
}

.footer-item {
    color: #cbd3e1;
    margin-bottom: 25px;
}

.footer-link {
    color: #cbd3e1;
}

.footer-link:hover {
    color: #fff;
    text-decoration: none;
}

.footer .footer-input {
    background: rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.search .footer-input{
    background: rgba(0, 0, 0, 0.1);
}

textarea.form-control {
    height: auto;
}

.footer-content{
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-logo {
    width: 100px;
    height: auto;
}

.copyright{
    float: right;
}


/*------------------------------------------------------------------
  	PARALLAX
------------------------------------------------------------------*/

.parallax-content {
    padding-top: 220px;
    padding-bottom: 120px;
}



/*------------------------------------------------------------------
  	BLOCKQUOTE
------------------------------------------------------------------*/
.blockquote {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: #a6a7aa;
    margin-left: 40px;
}

.blockquote:before {
    position: absolute;
    top: -10px;
    left: -40px;
    font-size: 60px;
    display: inline-block;
    color: #4f8abe;
    content: '\201c';
}


/*------------------------------------------------------------------
  	ADVANTAGES
------------------------------------------------------------------*/

.advantage {
    background: #fff;
    padding: 40px;
}

.advantage-icon {
    display: block;
    font-size: 30px;
    color: #999caa;
    margin-bottom: 30px;
    transition: all 0.3s;
}

.advantage-info {
    transition: all 0.3s;
}

.advantage:hover .advantage-icon {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: all 0.3s;
}

.advantage:hover .advantage-info {
    -webkit-transform: translateY(-23%);
    -moz-transform: translateY(-23%);
    transform: translateY(-23%);
    transition: all 0.3s;
}



/*------------------------------------------------------------------
  	CATALOG
------------------------------------------------------------------*/

.tour {
    padding: 40px 45px;
    background: #fff;
    margin-top: 2px;
}

.tour-feature {
    position: relative;
    font-size: 13px;
    color: #81848f;
    padding-left: 20px;
    margin-bottom: 10px;
}

.tour-feature:before {
    position: absolute;
    top: 7px;
    left: 0;
    width: 9px;
    height: 2px;
    background: #1c94d2;
    content: " ";
    margin-right: 10px;
}



/*------------------------------------------------------------------
  	BUTTON STYLES
------------------------------------------------------------------*/

.button{
    padding: 15px 30px;
    border-width: 0;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #6282a3;
    cursor: pointer;
}

.button:hover, .button:focus, .button:active {
    transition: all 0.5s;
    background: #45607d;
}



/*------------------------------------------------------------------
  	LINK STYLES
------------------------------------------------------------------*/

.link, .nav-link {
    position: relative;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .3s;
}

.link:hover{
    color: #a6a9b7;
    text-decoration: none;
}

.nav-link:hover{
    color: red;
}

.link:after {
    position: absolute;
    top: 6px;
    right: -15px;
    width: 9px;
    height: 2px;
    background: #1c94d2;
    content: " ";
}

.active-link:before, .nav-link:hover:before {
    position: absolute;
    top: 8px;
    left: 2px;
    width: 9px;
    height: 2px;
    background: #6282a3;
    content: " ";
}

.sign-up-link{
    cursor: pointer;
    text-decoration: underline;
}

.sign-up-link:hover{
    color: #45607d;
}



/*------------------------------------------------------------------
  	FONT STYLES
------------------------------------------------------------------*/

.h1-home, .h1-other{
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
}

.h1-other{
    font-size: 40px;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #515769;
    margin: 0 0 15px;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    color: #515769;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
    color: #999caa;
    text-decoration: none;
    transition: all .3s;
}

h2 {
    font-size: 30px;
}

h3, h4 {
    font-size: 22px;
}


.p-home{
    font-size: 18px;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin-bottom: 15px;
}

span {
    font-size: 14px;
    font-weight: 400;
    color: #bfc1c7;
}

.f-weight-700{
    font-weight: 700;
}


/*------------------------------------------------------------------
  	MAIN COLORS
------------------------------------------------------------------*/

.color-white, .color-white:hover{
    color: white;
}

.color-heading, .color-heading:hover{
    color: #515769;
}

.color-link{
    color: #81848f;
}

.color-base{
    color: #6282a3;
}

.bg-color{
    background: #f2f0f0;
}


/*------------------------------------------------------------------
  	MARGINS
------------------------------------------------------------------*/

.margin-b-0{
    margin-bottom: 0px;
}

.margin-b-2{
      margin-bottom: 2px;
  }

.margin-b-10{
    margin-bottom: 10px;
}

.margin-b-20{
    margin-bottom: 20px;
}

.margin-b-30{
    margin-bottom: 30px;
}

.margin-l-20{
    margin-left: 20px;
}











